<!DOCTYPE html>
<html>
<head>
    <title>Multi AI Chat</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Multi AI Context Switcher</h1>

    <select id="model">
    <option value="llama8b">Gemini</option>
    <option value="gptoss">ChatGPT</option>
    <option value="llama70b">Llama</option>
</select>

        <input type="text" id="prompt" placeholder="Enter your question">

        <div class="button-row">
            <button onclick="askAI()">Ask AI</button>
            <button onclick="compareAI()">Compare AI</button>
            <button onclick="clearHistory()">Clear Chat</button>
            <button class="dark-btn" onclick="toggleDarkMode()">Dark Mode</button>
        </div>

        <div id="response"></div>
        <div id="comparison-container"></div>

        <h2>Chat History</h2>
        <div id="history"></div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>